<h1>Nitish Kumar launches over 35,000 schemes worth Rs 1,600 crore</h1>
<p>
        Bihar Chief Minister Nitish Kumar on Saturday launched around 35,000 schemes worth over Rs 1,600 crore, as part of his ambitions 'Jal-Jeevan-Hariyali' campaign that seeks to boost green cover and the water table in the state.

        Foundation stones were laid for 32,781 schemes worth Rs 1,359.27 crore, while another 2,391 involving an expenditure of Rs 291.27 crore were inaugurated by Kumar at a function organised at the Samrat Ashok Convention Centre here.
        
        The CM said the campaign has 11 components that include collection and purification of surplus water in the Ganges during the rainy season, which would help ensure availability of drinking water around the year to areas like Gaya, Nawada and Rajgir, places known to receive scanty rainfall.
        
        "Besides, public wells and ponds will be renovated while pits for the conservation of groundwater will be dug close to hand-pumps. We have also taken to rainwater harvesting, beginning with government buildings," he said.
        
        Plantation of trees will be undertaken on an intensive scale. Road construction and rural development departments will ensure that trees are planted on both sides of roads and pathways in adequate numbers, Kumar said.
        
        He said researches are being conducted on the basis of which modifications could be made in agricultural practices, bringing these in tune with the changes in the environment, which includes deficient and irregular rainfall.
        
        "Due emphasis would be laid on solar power, which is the only sustainable form of energy. To give it a boost, solar panels are being installed at government buildings. Solar power plants are also being set up at Lakhisarai and Bhagalpur
</p>