.panel-heading {
    background-color:darkred;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
  }

  .navbar {

    background-color: red;


  }

  

  .nav a{

    color: white;
    height: 500%;
  }