

        <div class="panel panel-primary" style="height: 100%">
                <div class="panel-heading">
                News API
                </div>
        </div>
        <div>
                                <nav class="navbar navbar-inverse">
                                        <div class="container-fluid">
                                          <ul class="nav navbar-nav">
                                            <li><a [routerLink]="['/apple']"><b>Apple</b></a></li>
                                            <li><a [routerLink]="['/india']"><b>India</b></a></li>
                                            <li><a href="#"><b>Cricket</b></a></li>
                                            <li><a href="#"><b>Oscar 2K19</b></a></li>
                                            <li><a href="#"><b>Technology</b></a></li>
                                            <li><a href="#"><b>International</b></a></li>
                                          </ul>
                                        </div>
                                      </nav>
         </div>
                        
                    
        <div><router-outlet></router-outlet></div>

                        
                        

                        
            

